* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --primary-color: #0A1128;
    --white-color: #FFFFFF;
    --light-gray-color: #EEEEEE;
    --secondary-color: crimson;
    --gap: 3rem;
}

html {
    font-size: 62.5%;
    scroll-behavior: smooth;
}

body {
    font-family: 'Open Sans', sans-serif;
    font-size: 2rem;
    line-height: 1.5;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Montserrat', sans-serif;
}

h1, h2 {
    text-transform: uppercase;
}

h2 {
    overflow: hidden; /*overflow error in h2 */
    margin-bottom: 5rem;
    line-height: 1.2;
}

p {
    margin-bottom: 3rem;
}

a {
    text-decoration: none;
}

.main-bg {
    background-image: url("/landing page/assets/img/main-bg.svg");
    color: var(--white-color);
}

.white-bg {
    background: var(--white-color);
    color: var(--primary-color);
}

.main-content {
    max-width: 120rem;
    margin: 0 auto;
    padding: 10rem var(--gap);
}

.menu-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 0;
    padding-bottom: 0;
}

.menu {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    border: 1px solid var(--light-gray-color);
    z-index: 1;
}

.menu h1 {
    font-size: 2.3rem;
}

.menu h1 a{
    color: inherit;
}

.menu ul {
    display: flex;
    list-style: none;
}

.menu ul li a {
    display: block;
    padding: 2rem;
    font-size: 1.8rem;
    color: var(--primary-color);
    position: relative;
}

.menu ul li a::after {
    content: '';
    position: absolute;
    bottom: 1rem;
    left: 50%;
    width: 0;
    height: 0.2rem;
    background: var(--secondary-color);
    transition: all 300ms ease-in-out;
}

.menu ul li a:hover::after {
    width: 50%;
    left: 25%;
}

.grid-zero {
    display: grid;
    grid-template-areas: 'text img';
    grid-template-columns: 1fr 1.5fr;
    gap: var(--gap);
    min-height: 100vh;
}

.grid-zero-text {
    display: flex;
    flex-flow: column wrap;
    grid-area: 'text';
    justify-content: center;
}

.grid-zero-text h2 {
    font-size: 6rem;
}

.grid-zero-text p {
    font-size: 2rem;
}

.grid-zero-img {
    display: flex;
    justify-content: center;
    align-items: center;
    grid-area: 'img';
}

.grid-zero-img img {
    max-width: 100%;
    height: auto;
}

.intro-content {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    text-align: center;
    max-width: 64rem;
}

.intro-content h2 {
    font-size: 6rem;
}

.intro-content p {
    font-size: 2rem;
}

.grid-one-content {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    min-height: 100vh;
    /* padding-top: 0;
    padding-bottom: 0; */
}

.grid-description h2, .gallery-description h2 {
    font-size: 6rem;
    margin-bottom: 1rem;
}

.grid-description p, .grid-one-text p, .gallery-description p {
    font-size: 2rem;
}

.grid-description p, .gallery-description {
    padding-bottom: 5rem;
    margin-bottom: 3rem;
}

.grid-one {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: var(--gap);
    counter-reset: grid-counter;
}

.grid-one-text {
    position: relative;
}

.grid-one-text h3 {
    font-size: 3rem;
    padding: 0 0 2rem 5rem;
}

.grid-one-text p {
    text-align: justify;
}

.grid-one-text h3::before {
    counter-increment: grid-counter;
    content: counter(grid-counter);
    position: absolute;
    font-size: 8rem;
    font-style: italic;
    top: -4rem;
    left: -2rem;
    transform: rotate(5deg);
}

.gallery-description p {
    margin-bottom: 0;
}

.grid-gallery {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: var(--gap);
}

.gallery-img {
    width: 100%;
    max-width: 36rem;
    max-height: 36rem;
    overflow: hidden;
}

.gallery-img img {
    width: 36rem;
    transition: all 300ms ease-in-out;
}

.gallery-img img:hover {
    transform: translate(-3%, 3%) scale(1.2) rotate(5deg);
}

.section {
    min-height: 100vh;
}

footer {
    font-size: 1.6rem;
    text-align: center;
}

footer p {
    padding: 2rem;
    color: var(--primary-color);
    margin-bottom: 0;
}